@media (max-width: 1600px) {

    .main__wrapper {
        min-height: 1450px;
    }

    .main__stone-description {
        margin: 120px 0px 60px 0px;
        width: 100%;
    }

    .main__stone-description > div > p {
        width: 524px;
    }

}

@media(max-width: 1400px) {

.main__stone-description {
    margin: 90px 0px 10% 0px;
}

.main__wrapper {
    min-height: 1326px;
}

.main__stone-description > div > p {
    width: 390px;
}
.main__stone-description > img {
    width: 100%;
}

}

@media(max-width: 1300px) {

.main__stone-description {
    width: 100%;
    height: 27%;
}

.main__stone-description > img {
    height: 100%;
}

.main__stone-description > div > p {
    width: 100%;
}

.main__stone-description > div > p {
    font-size: 14px;;
}

.main__basic-part {
    width: 100%;
}



}

@media(max-width: 1000px) {

.main__stone-description {
    flex-direction: column;
    height: 20%;
    margin: 70px 0px 0px 0px;
}

.main__stone-description > div {
    margin: 13px 0px 0px 20px;
}

.main__stone-description > div > h1 {
    text-align: center;
}

.main__stone-description > div > p {
    text-align: center;
}

.main__wrapper {
    height: 1500px;
}



}

@media(max-width: 960px) {

    .main__stone-description {
        flex-direction: column;
        height: 20%;
        margin: 70px 0 0;
    }

    .main__stone-description > div {
        margin: 13px 0 0 0px;
    }

    .main__stone-description > div > h1 {
        text-align: center;
    }

    .main__stone-description > div > p {
        text-align: center;
    }

    .main__wrapper {
        height: 1600px;
    }
    


}

@media(max-width: 850px) {

.main__stone-description {
    height: 12%;
}

.main__wrapper {
    height: 1875px;
}


}

@media(max-width: 680px) {

.main__wrapper {
    height: 2300px;
    margin-bottom: 30px;
}

.main__stone-description {
    height: 16%;
}

}

@media(max-width: 640px) {

.main__wrapper {
    height: 100%;
}


}





