@media (max-width: 1370px) {

    .main__catalog_block {
        flex-direction: column;
        height: 900px;
    }

  }

  @media (max-width: 1000px) {

    .main__catalog_block {
        height: 1050px;
    }

  }

  @media (max-width: 990px) {

    .main__catalog_block {
        height: 930px;
    }
  }

  @media (max-width: 892px) {

    .main__catalog_block {
        height: 980px;
    }
  }

  @media (max-width: 742px) {

    .main__catalog_block {
        height: 1030px;
    }
  }

  @media (max-width: 700px) {

    .main__catalog_block {
        height: 1050px;
    }

  }

  @media (max-width: 680px) {

    .main__catalog_block {
        height: 550px;
    }

    .main__type-of-stone_block {
        display: none;
    }

    .main__catalog_block {
        padding: 0px 10px 0px 0px;
    }

  }

  @media (max-width: 600px) {

    .main__catalog_block {
        height: 590px;
    }

}

@media (max-width: 573px) {

    .main__catalog_block {
        height: 610px;
    }

  }

  @media (max-width: 541px) {

    .main__catalog_block {
        height: 640px;
    }

  }

  @media (max-width: 492px) {

    .main__catalog_block {
        height: 690px;
    }

  }

  @media (max-width: 440px) {

    .main__catalog_block {
        height: 750px;
    }

  }

  @media (max-width: 410px) {

    .main__catalog_block {
        height: 830px;
    }

  }
  
  @media (max-width: 363px) {

    .main__catalog_block {
        height: 880px;
    }

    .main__catalog-stone > form > input {
        width: 300px;
    }

  }

  @media (max-width: 346px) {

    .main__catalog_block {
        height: 900px;
    }

  }

  @media (max-width: 340px) {

    .main__catalog-stone > form > input {
        margin: 32px 0px 0px 10px;
    }

    .main__catalog-stone_little-title {
        margin: 25px 0px 0px 15px;
    }

  }

  @media (max-width: 334px) {

    .main__catalog_block {
        height: 980px;
    }

  }


