@media (max-width: 1600px) {

    .main__exaple-works > div:nth-of-type(1) {
        grid-template-columns: 280px 280px 280px;
    }

    .main__exaple-works > div:nth-of-type(1) > a > img {
        width: 280px;
    }

    .main__exaple-works > div:nth-of-type(2) {
        grid-template-columns: 650px 43px 39px;
        grid-column-gap: 50px;
        margin: 64px 0px 0px 20px;
    }

    .main__exaple-works > div:nth-of-type(2) > p {
        font-size: 16px;
    }

    .main__exaple-works > div:nth-of-type(2) > img:nth-of-type(1) {
        margin: -12px 0px 0px 0px;
        width: 45px;
    }

    .main__exaple-works > div:nth-of-type(2) > img:nth-of-type(2) {
        margin: -8px 0px 0px 0px;
        width: 38px;
    }

}

@media(max-width: 1400px) {

    .main__exaple-works > div:nth-of-type(1) {
        grid-template-columns: 250px 250px 250px;
    }

    .main__exaple-works > div:nth-of-type(1) > a > img {
        width: 250px;
    }

    .main__exaple-works > div:nth-of-type(2) {
        grid-template-columns: 650px 43px 39px;
        grid-column-gap: 30px;
        margin: 40px 0px 0px 0px;
    }

    .main__exaple-works > div:nth-of-type(2) > img:nth-of-type(1) {
        width: 35px;
    }

    .main__exaple-works > div:nth-of-type(2) > img:nth-of-type(2) {
        width: 30px;
    }

    .main__exaple-works {
    margin: 98px 0px 0px 0px;
}

}

@media(max-width: 960px) {

.main__exaple-works > div:nth-of-type(1) {
    grid-template-columns: 215px 215px 215px;
}

.main__exaple-works > div:nth-of-type(1) > a > img {
    width: 215px;
}

.main__exaple-works > div:nth-of-type(2) {
    grid-template-columns: 490px 28px 28px;
}

.main__exaple-works > div:nth-of-type(2) > p {
    font-size: 12px;
}

.main__exaple-works > div:nth-of-type(2) > img:nth-of-type(1) {
    width: 30px;
    margin: -5px 0px 0px 0px;
}

.main__exaple-works > div:nth-of-type(2) > img:nth-of-type(2) {
    width: 27px;
    margin: -3px 0px 0px 0px;
}

}

@media(max-width: 850px) {

.main__exaple-works {
    align-items: center;
}

.main__exaple-works > div:nth-of-type(1) {
    grid-template-columns: 215px;
    grid-row-gap: 20px;
}

}

@media(max-width: 860px) {

.main__exaple-works > div:nth-of-type(2) > p {
    font-size: 10px;
}

.main__exaple-works > div:nth-of-type(2) {
    grid-template-columns: 406px 28px 28px;
}

}

@media(max-width: 550px) {

.main__exaple-works > div:nth-of-type(2) > p {
    text-align: center;
    grid-area: text;
}

.main__exaple-works > div:nth-of-type(2) > img:nth-of-type(1) {
    width: 33px;
    margin: 2px 0px 0px 80px;
    grid-area: ws;
}

.main__exaple-works > div:nth-of-type(2) > img:nth-of-type(2) {
    grid-area: tg;
    margin: 5px 0px 0px 12px;
}

.main__exaple-works > div:nth-of-type(2) {
    grid-template-columns: 118px 118px;
    grid-template-rows: 40px 30px;
    grid-template-areas: "text text" "ws tg";
    grid-column-gap: 0px;
}

}

