@media (max-width: 1499px) {
  
  .main__slider-1 > .slick-next {
    right: -2vw;
  }

  .main__slider-1 > .slick-prev {
    left: -2vw;
  }

.slider-1__single-item > div > div {
    width: 95%;
    margin: 0px auto;
}

  .main__latest-projects__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
                padding-top: 0px;
                padding-bottom: 0px;
  }

.main__latest-projects {
    min-height: 525px;
}

}

@media (max-width: 900px) {
  .slider-1__single-item > div > div {
    width: 630px;
  }
}

@media (max-width: 870px) {
  .main__slider-1 > .slick-next {
    right: 30px;
  }

  .main__slider-1 > .slick-prev {
    left: 30px;
  }
}

@media (max-width: 768px) {
  .main__slider-1 .slick-slide img {
    display: block;
    width: 100%;
    height: 231px;
  }

  .main__slider-1 .slick-slide img {
    display: block;
    width: 100%;
    height: 231px;
  }

  .slider-1__single-item > div > div {
    height: initial;
  }

  .main__latest-projects {
    width: 100%;
    min-height: 485px;
  }

  .main__latest-projects__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__slider-1 > .slick-next {
    bottom: 50%;
  }

  .main__latest-projects__wrapper > h1:nth-of-type(1) {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

.main__slider-1 > .slick-prev {
    top: 36%;
    left: 15px;
}

.main__slider-1 > .slick-next {
    bottom: 57%;
    right: 15px;
}


  .slider-1__single-item > div > div {
    width: 560px;
  }

  .slider-1__single-item > div > div > div:nth-of-type(1) > button {
    width: 100%;
  }

.main__latest-projects__wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

.slider-1__single-item > div > div > div:nth-of-type(1) {
    padding: 10px;
}

}



@media (max-width: 660px) {
  .slider-1__single-item > div > div {
    width: 80vw;
  }

  .slider-1__single-item > div > div > div:nth-of-type(1) > button {
    width: 100%;
  }

  .main__slider-1 > .slick-prev {
      top: 41%;
      left: 10px;
  }

  .main__slider-1 > .slick-next {
      bottom: 55%;
      right: 10px;
  }

  .slider-1__single-item > div > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 450px) {

  @-webkit-keyframes slide {
    9% {margin-left: -20px;}
    18% {margin-left: 20px;}
    28% {margin:10px 0px 0px 0px;}
    100% {margin:10px 0px 0px 0px;}
  }

  @keyframes slide {
    9% {margin-left: -20px;}
    18% {margin-left: 20px;}
    28% {margin:10px 0px 0px 0px;}
    100% {margin:10px 0px 0px 0px;}
  }

  .slider-1__single-item > div > div {
    width: 90vw;
  }

  .main__slider-1 > .slick-next {
    display: none !important;
  }

  .main__slider-1 > .slick-prev {
    display: none !important;
  }

  .slider-1__single-item > div > div > div:nth-of-type(1) {
    padding: 8px;
    padding-top: 35px;
  }

  .main__latest-projects__wrapper > h1:nth-of-type(1) {
    font-size: 25px;
  }

  .slider-1__single-item > div:nth-of-type(2) {
    display: block;
    height: 60px;
    }

    .slider-1__single-item > div:nth-of-type(2) > img {
    height: 50px;
    margin-top: 10px;
    -webkit-animation: slide 7s infinite ease;
            animation: slide 7s infinite ease;
    }

  .main__slider-1 > .slick-dots {
    margin-top: 10px;
}

}
