@media (max-width: 1600px) {

    .main__wrapper {
        max-width: 1210px;
    }

    .main__upper-block > div:nth-of-type(1) > div > h1 {
        font-size: 32px;
    }

    .main__upper-block > div:nth-of-type(1) > div > p {
        font-size: 15px;
    }

    .main__upper-block > div:nth-of-type(1) > img {
        width: 574px;
        height: 184px;
        padding: 10px 0px 0px 53px;
    }

    .main__upper-block > div:nth-of-type(2) > img {
        border-radius: 5px;
        width: 585px;
        height: 330px;
    }

    .main__upper-block > div:nth-of-type(2) > div > p {
        font-size: 15px;
    }




    .main__center-block > div {
        width: 980px;
    }

    .main__center-block > div > p {
        width: 870px;
        font-size: 15px;
    }





    .main__lower-block > div > p {
        width: 910px;
        font-size: 14px;
    }

}