.header__upper-block {
	justify-content: unset;
	max-width: 1400px;
}
.main__request {
	background: url(http://a0460626.xsph.ru/images/Rectangle\ 13.png);
}
.main__material-filter {
	height: 400px;
}
@media (max-width:1920px ) {

	/* header */
	.header__upper-block, .navigation, .main__services, .main__wrapper, .main__wrapper-upper, .main__about-us_center, .main__adventages, .main__map, .main__form, .main__contacts {
    justify-content: unset;
		max-width: 1210px;
		
    margin-left: auto;
	margin-right: auto;
	zoom: .9
}
.main__skills > div > div > p {
	height: 120px
}
.main__parameter > div:nth-of-type(3) > div > input:nth-of-type(2), .main__parameter > div:nth-of-type(3) > div > input:nth-of-type(1), .main__parameter > div:nth-of-type(3) > input {
	width: 100%;
	opacity: 1;
	background-color: rgb(0 0 0 / 8%);
}
.header__feedback, .header__navigation {
	margin: 0px 0px 2px 65px;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(2), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3) {
	width: 400px;
}

.main__wrapper > div:nth-of-type(2) > div > p {
	padding-bottom: 30px;
}
.main__center-block > div, .main__skills > div > div > a > input {
	width: 70%;
}
.main__center-block > img {
    padding: 0px 0px 0px 81px;
    width: 25%;
}
.main__lower-block > img {
	width: 100%;
}
.main__wrapper-center > div:nth-of-type(2) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main__wrapper-center > div:nth-of-type(2) > div > p {
	width: 100%;
}
.main__wrapper-center > div:nth-of-type(1) {
    grid-template-columns: 1fr 1fr;
}
/* header */
.main__skills > div > img {
	margin-right: 15px;
}
.main__skills > div > img {
    width: 315px;
    height: 220px;
}
.main__request, .main__stone-interior, .main__services {
	zoom: .9;
}

.main__skills > div > div {
	position: relative;
}

.main__skills > div > div > a > input, .main__our-material > div > div > div > a:nth-of-type(2) > input:nth-of-type(1) {
	position: absolute;
	bottom: 0px;
}
.main__services {
	margin-bottom: 40px;
}

.main__about-us_upper > div:nth-of-type(1) > img, .main__contacts > img {
	width: 510px;
}
.main__about-us_upper > div:nth-of-type(2) > div {
	grid-template-columns: 1fr;
}
.main__about-us_center > div:nth-of-type(1) > div, .main__adventages > div {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main__adventages > div {
	grid-column-gap: 68px;
}
.main__about-us_center > div:nth-of-type(1) > div {
	grid-column-gap: 0;

}
.main__contacts {
	min-height: max-content;
	margin-bottom: 45px;
}
.main__about-us_center > div:nth-of-type(1) > div > div > p, .main__map > div > iframe {
	width: 100%; 
}

.main__map-1, .main__map-2 {
	width: 50%;
}

.main__about-us_upper > div:nth-of-type(2) > div > div > p {
	width: 100%;
}
	
	/* footer */
.main__material-filter > div > a {
	font-size: 14px;
}
.main__our-material img {
	width: 100%;
}


.main__material {
	max-width: 1210px;
	min-height: 1020px;
	zoom: .9;
}

.main__our-material > div > div > div:nth-of-type(1), 
.main__our-material > div > div > p:nth-of-type(1) {
	margin: 5px 0px 0px 0px;
}

.main__our-material > div > img {
	width: 255px;
	height: 150px;
}

.main__our-material > div > div > div > h1 {
	font-size: 15px;
	height: 45px;
}

.main__our-material > div > div > div > p:nth-of-type(1) {
	font-size: 13px;
}

.main__our-material > div > div > div:nth-of-type(1), .main__our-material > div > div > p:nth-of-type(1) {
	margin: 5px 0px 0px 5px; 
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
}

.main__our-material {
	grid-template-columns: 260px 260px 260px;
	grid-template-rows: max-content max-content;
	grid-row-gap: 30px;
	grid-column-gap: 19px;
}
.main__interior > div, .main__exterior > div {
	grid-template-columns: 50% 50%;
}
.main__interior > div > div, .main__exterior > div > div {
	width: 100%;
	height: 180px;
}

.main__our-client > div > div > div > h1 {
	width: auto;
	padding: 13px 10px 0px 14px;
}
.main__our-client > div > div {
	width: 100%;
	padding-bottom: 20px;
	/* padding-right: 20px; */
	box-sizing: border-box;
	height: max-content;
	box-sizing: border-box;
	border-radius: 5px;
}
.main__feedback {
	display: none;
}
.main__form {
	min-height: max-content;
	margin-bottom: 30px;
} 
.main__skills > div > div > p {
    width: 100%;
}

.main__our-material > div > div > div > a:nth-of-type(2) > input:nth-of-type(1) {
	position: unset
}

}

@media (max-width:1599px ) {
	.main__skills > div > div > p, .main__skills > div > div {
text-align: left;
display: block;
	}
	.main__skills > div > div > p {
		font-size: 16px;
	}
	
}
@media (max-width:1400px ) {
	
	/* header */
	.header__navigation-part_1, .header__navigation-part_2, .header__navigation-part_3, .header__navigation-part_4, .header__navigation-part_5, .header__navigation-part_6 {
		margin: 0px 0px 0px 30px;
		position: relative;
	}

.header__feedback, .header__navigation {
    margin: 0px 0px 2px 40px;
}

.header__upper-block, .navigation, .main__services, .main__wrapper, .main__wrapper-upper, .main__about-us_center, .main__adventages, .main__map, .main__contacts {
    max-width: 1057px;
}

.main__about-us_upper > div:nth-of-type(1) > div > p, .main__contacts > div > p {
	width: 561px;
	font-size: 16px;
}
.main__wrapper > div:nth-of-type(2) > div > p {
	width: 100%;
}
.main__about-us_upper > div:nth-of-type(2) > div > div > p {
	font-size: 16px;
}
.main__about-us_upper > div:nth-of-type(1) > img, .main__contacts > img {
	width: 431px;
}
.main__adventages > div > div > h1, .main__adventages > div > div > p {
	width: 100%;
}
.main__about-us_center > div:nth-of-type(1) > h1:nth-of-type(1) {
	font-size: 28px;
	line-height: 18px;
} 

.main__center-block > div, .main__skills > div > div > a > input {
	width: 100%;
}

.main__form > div:nth-of-type(1) > p, .main__form > div:nth-of-type(3), .main__form > div:nth-of-type(2) > div:nth-of-type(1) > div > p, .main__form > div:nth-of-type(2) > div:nth-of-type(1) > div > h1 {
	display: none;
}
.main__form > div:nth-of-type(1) > h1 {
	text-align: center;
	/* margin: 20px 0; */
}
.main__adventages > div {
	grid-column-gap: 11px;
	text-align: center;
}
/* header */

.main__material {
    max-width: 1200px;
}
.main__material-filter > div > a {
text-align: center;
}
.main__material-filter {
	width: 228px;
    margin: 35px 0 0 80px;
}
.main__skills > div  {
	display: block;
}
.main__skills {
	grid-template-columns: 1fr 1fr 1fr;
}
.main__skills > div > img {
	width: 100%;
	height: 203px;
	margin-bottom: 15px;
}
.main__services {
	margin-bottom: 30px;
}
.main__exterior > div > div > div > p, .main__interior > div > div > div > p {
	width: 90%;
	font-size: 14px;
	padding: 0;
}
.main__our-client > div > div > div {
	display: block;
	padding: 24px 10px 0 10px;
}
.main__our-client img {
	display: block;
	margin: 0 auto;
}
.main__our-client > div {
	text-align: center;
}
.main__our-client > div > div > div > h1 {
	width: auto;
	padding: 24px 0px 0px 0px;
}
.main__our-client > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	margin: 56px 0px 0px 0px;
}
.main__form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 40px auto;
}
.main__skills > div > div > p {
    height: 145px;
}
}

@media (max-width:1230px ) {
	/* header */
	.header__navigation-part_4 {
    display: none;
}
.header__upper-block, .navigation, .main__wrapper-center, .main__material, .main__stone-interior, .main__contacts, .main__services, .main__wrapper, .main__wrapper-upper, .main__about-us_center, .main__adventages, .main__map {
	max-width: 915px;
}

.main__wrapper-center > div:nth-of-type(2) {
    grid-column-gap: 45px;
}

.main__about-us_center > div:nth-of-type(1) > div > div {
	display: block;
	text-align: center;
}
.main__about-us_center > div:nth-of-type(1) > div > div > h1 {
	font-size: 75px;
	line-height: 94px;
}
.main__about-us_upper > div:nth-of-type(1) > img, .main__contacts > img {
	display: none;
}
.main__about-us_upper > div:nth-of-type(1) > div > p, .main__contacts > div > p {
	width: 100%;
}
/* header */

.main__our-material {
	grid-template-columns: 50% 50%;
}
.main__article-interior > img {
	width: 30%;
	height: 100%;
	margin: 10px 15px 0px 0px;
}
.main__interior > div > div, .main__exterior > div > div {
	width: 100%;
	height: 150px;
}

.main__our-client > div {
	grid-template-columns: 1fr 1fr;
}
.main__map {
	min-height: max-content;
}
.main__material-filter {
    width: 80%;
    margin: 35px 35px 0 0;
}
}

@media (max-width:1100px ) {

	.main__exaple-works > div:nth-of-type(1) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.main__exaple-works > div:nth-of-type(1) > img {
    width: 100%;
}
	/* header */
.main__about-us_upper > div:nth-of-type(2) > div, .main__wrapper-upper > div:nth-of-type(2) > div {
	margin: 0;
}
.main__upper-block > div:nth-of-type(1) > div, .main__upper-block > div:nth-of-type(2) > div, .main__center-block > div, .main__lower-block > div {
	display: block;
	margin-left: 0;
    width: 100%;
}
.main__wrapper {
    min-height: max-content;
}
.main__skills > div > div > p {
	width: 100%;
	font-size: 12px;
	height: auto;
}
.main__skills > div > div {
    margin: 0;
    height: 208px;
}
.main__material-filter > div:nth-child(odd) {
	background: rgb(255, 255, 255);
}
.main__material-filter > div  {
	border-bottom: 1px solid #f0f0f0;
	}
.main__material-filter > div:hover {
background: #ff9900;
}
/* header */

.main__our-material {
	grid-template-columns: 255px 255px 255px;
}
.main__article-interior > img {
	display: none;
}
.main__stone-interior > h1 {
	margin-left: 0;
}


.footer__navigation {
	margin: 49px 0 0 0;
}
.footer__our-skills_1-column_block {
	display: flex;
	margin: 57px 0 0 8vw;
}
.footer__our_material {
	margin: 0;
}
.main__article-interior > div > p {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.07em;
	color: #111111;
	margin: 14px 0px 0px 0px;
}
.footer__our-skills_block {
	display: none;
}
.main__skills > div > div {
	margin: 0;
}
.main__skills > div > div > h1 {
	font-size: 17px;
}

.main__form {
	margin: 63px auto;
}
.main__reviews__wrapper {
	padding: 100px 50px 20px 50px !important;
	box-sizing: border-box;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(1) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(2), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3) {
	width: 400px;
}
.main__material-filter {
    width: 100%;
}

.header__feedback, .header__navigation {
    margin: 0px 0px 2px 97px;
}
}

@media (max-width: 960px) {
	/* .main__reviews__slide > div {
		display: block;
	} */
	/* .main__reviews__slider {
    width: 100%;
    height: max-content;
    margin-top: 41px;
} */

	/* header */
.header__navigation-part_5 {
    display: none;
}
.header__upper-block, .navigation, .main__wrapper-center, .main__contacts, .main__material, .main__stone-interior, .footer > div:nth-of-type(1), .main__burger-menu, .main__services, .main__wrapper, .main__wrapper-upper, .main__about-us_center, .main__adventages, .main__map {
	max-width: 720px;
}
.main__wrapper-center > div:nth-of-type(2) {
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.main__wrapper-center > div:nth-of-type(2) > div > p {
    margin-bottom: 30px;
}

.main__map > div:nth-of-type(1) {
	display: block;
}
.main__about-us_center > div:nth-of-type(1) > div, .main__adventages > div {
	grid-template-columns: 1fr 1fr;
}
.main__about-us_center_back {
	background: url(../../../images/blur-back.png);
	width: 100%;
	background-size: cover;
	height: max-content;
}
.main__about-us_center > div:nth-of-type(1) {
	padding: 80px 0px 30px 0px;
}
.main__adventages > div {
	padding-top: 70px;
}
.main__map-1, .main__map-2 {
	width: 100%;
}
.main__map {
	display: block;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(2), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3) {
	width: 330px;
}
/* header */
.main__our-material {
	grid-template-columns: 50% 50%;
}
.main__our-material > div > img {
	width: 100%;
}
.main__our-material > div {
	height: max-content;
}
.main__our-material {
	grid-template-rows: auto;
	grid-row-gap: 30px;
	grid-column-gap: 35px;
}
.main__interior > div, .main__exterior > div {
	grid-template-columns: 100%;
}
.main__interior > div > div, .main__exterior > div > div {
	width: 100%;
	height: 220px;
}
.main__form, .main__form > div:nth-of-type(2) {
	display: block;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1) {
	margin-bottom: 16px;
}
.header__phone-number {
	font-size: 16px;
}

.header__feedback, .header__navigation {
    margin: 0px 0px 2px 40px;
}

}

@media (max-width: 850px) {
	/* header */
	.header__navigation-part_1, .header__navigation-part_2, .header__navigation-part_3, .header__navigation-part_4, .header__navigation-part_5, .header__navigation-part_6 {
		display: none;
	}
	.header__upper-block, .navigation, .main__wrapper-center, .main__material, .main__contacts, .main__stone-interior, .footer > div:nth-of-type(1), .main__burger-menu, .main__services, .main__wrapper, .main__wrapper-upper, .main__about-us_center, .main__adventages, .main__map, .main__form  {
    max-width: 542px;
}
.main__wrapper-center > div:nth-of-type(1) {
    grid-template-columns: 1fr;
}
.main__wrapper-center {
	height: max-content;
}
.main__wrapper-center > div:nth-of-type(2) {
    grid-template-columns: 1fr;
}
.main__form, .main__form > div:nth-of-type(2) {
	width: 542px;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) {
	display: block;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(2), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3) {
	width: 100%;
	box-sizing: border-box;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1) {
	margin-bottom: 16px;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) {
	margin: 0;
}
.main__interior > div > div, .main__exterior > div > div {
	width: 100%;
	height: 195px;
}
.header__feedback, .header__navigation {
	margin: 0px 0px 2px 85px;
}
.main__skills {
	grid-template-columns: 1fr 1fr;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(1) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(2), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3) {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.main__form > div:nth-of-type(2) > div:nth-of-type(1) {
	margin: 0;
}

/* header */
.main__our-material {
	grid-template-columns: 100%;
}
.main__our-client > div {
	grid-template-columns: 1fr;
}

.main__skills > div > div {
    margin: 0;
    height: 180px;
}
}

@media (max-width: 680px) {
	/* header */
	.header__navigation-part_1, .header__navigation-part_2, .header__navigation-part_3, .header__navigation-part_4, .header__navigation-part_5, .header__navigation-part_6 {
		display: none;
	}
	.main__wrapper > div:nth-of-type(1) > div > h1 {
		font-size: 28px;
	}
	.main__wrapper > div:nth-of-type(1) {
		display: block;
	}
	.main__skills{
		grid-template-columns: 1fr;
	}
	.main__exaple-works > div:nth-of-type(1) {
		grid-template-columns: 1fr;
	}
.header__upper-block {
	max-width: max-content;
	margin: 10px auto;
}
.main__upper-block > div:nth-of-type(1) > div > h1 {
    font-size: 28px;
}
.navigation {
display: none;
}
.header__feedback, .header__navigation {
	margin: 0px 0px 2px 60px;
}
/* header */
.header__upper-block, .navigation, .main__material, .main__stone-interior, .footer > div:nth-of-type(1), .main__burger-menu , .main__request-block, .main__servicess, .main__wrapper {
	width: 100%;
	/* margin-right: 20px;
	margin-left: 20px; */
}

.main__wrapper {
    width: 80%;
}

.main__wrapper > div:nth-of-type(1) > div > h1 {
    font-size: 23px;
    line-height: 34px;
    letter-spacing: unset;
}


.main__interior > div > div, .main__exterior > div > div {
	width: 100%;
	height: 260px;
}
.main__exterior > div {
	margin-left: 0;
}
.main__services > h1:nth-of-type(1) {
	padding: 0 30px;
}
.main__skills > div {
	display: block;
	padding: 30px;
}

.main__form > div:nth-of-type(2) > div:nth-of-type(1) > input:nth-of-type(1), .main__contacts, .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(2), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3), .main__form > div:nth-of-type(2) > div:nth-of-type(1) > textarea:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(1), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(2), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3), .main__form > div:nth-of-type(2) > div:nth-of-type(2) > p, .main__wrapper-upper, .main__about-us_center, .main__adventages, .main__map, .main__form {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: block;
}
.main__map-2 > h1 {
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #3D3D3D;
	margin: 40px 0 0 0;
}
.main__about-us_center > div:nth-of-type(1) > div, .main__adventages > div {
	grid-template-columns: 1fr;
}
.main__form, .main__form > div:nth-of-type(2) {
	width: 100%;
}
.main__form > div:nth-of-type(1) > h1:nth-of-type(1) {
	font-size: 25px;
}
.main__form > div:nth-of-type(1) > p, .main__form > div:nth-of-type(1) > div > p {
	font-size: 14px;
}
.main__interior > div > div, .main__exterior > div > div, .main__wrapper > h1:nth-of-type(1), .main__interior > h1:nth-of-type(1), .main__form > div:nth-of-type(1) > h1:nth-of-type(1) {
	width: 85%;
	margin: 0 auto;
}

.main__form > div:nth-of-type(2) > div:nth-of-type(1) {
	margin: 0;
}

/* .main__form h1 , .main__form h1 p {
	padding-left: 20px;
	padding-right: 20px;
} */


.main__request-block > form > input:nth-of-type(1), .main__request-block > form > input:nth-of-type(2), .main__request-block > form > input:nth-of-type(3) {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: block;
}
.main__our-client > div > div {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: block;
}
.main__request-block {
	margin: 50px auto;
}
.main__material-filter {
	margin: 0;
	width: 100%;
}
.main__stone-interior {
	display: block;
}

.main__stone-interior > h1, .main__article-interior, .main__our-client > h1 {
	display: block;
	padding: 0 24px;
}
.main__form > div:nth-of-type(1) > div {
	display: none;
}
.main__skills > div > div > p {
	height: max-content;
	margin-bottom: 15px;
}
}

/* .main__request {
	background: #000;
} */
@media (max-width: 530px) {
.header__feedback, .header__navigation {
	margin: 0px 0px 2px 15px;
}

.main__upper-block > div:nth-of-type(1) > div > h1 {
    font-size: 23px;
}

.main__form {
    margin: 40px auto;
}

.main__form > div:nth-of-type(1) > h1:nth-of-type(1) {
    font-size: 17px;
	line-height: 25px;
}


}

.main__interior > div {
	margin: 25px 0px 0px 0px;
}

a input , .main__request-block > form > input:nth-of-type(3), .header__form-submit, .main__catalog-stone > form > input, .main__material-description > a > input, .main__instagram-photos, .slider-1__single-item > div > div > div:nth-of-type(1) > a > button, .main__interior  img, .main__exterior img, .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3), .slick-dots button , .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3){
	cursor: pointer;
} 

.header__form-submit:hover, .main__our-material > div > div > div > a:nth-of-type(1) > input:nth-of-type(1):hover, .main__skills > div > div > a > input:hover, .main__request-block > form > input:nth-of-type(3):hover, .main__form > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3):hover, .main__form > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > input:nth-of-type(3):hover, .main__catalog-stone > form > input:hover, .main__material-description > a > input:hover, .slider-1__single-item > div > div > div:nth-of-type(1) > a > button:hover {
	background: #fdad34;
	
	border: 1px solid #fdad34;
	color: #fff
}

.main__skills > div > div > a > input, .main__our-material > div > div > div > a:nth-of-type(2) > input:nth-of-type(1) {
	background: #fff;
	border: 1px solid #ff9900;
}

.main__our-material > div > div > div > a:nth-of-type(1) > input:nth-of-type(1) {
	border: 1px solid rgba(61, 61, 61, 0.25);
}

.color_navigation ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid #e1e1e1;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.color_navigation ul li:nth-child(1){
	background: #c0b3a2;
}
.color_navigation ul li:nth-child(2){
	background: #000;
}
.color_navigation ul li:nth-child(3){
	background: rgb(0,0,255);
}
.color_navigation ul li:nth-child(4){
	background: #4d1f1f;
}
.color_navigation ul li:nth-child(5){
	background: #ffd700;
}
.color_navigation ul li:nth-child(6){
	background: #808080;
}
.color_navigation ul li:nth-child(7){
	background: #315330;
}
.color_navigation ul li:nth-child(8){
	background: #fffff0;
}
.color_navigation ul li:nth-child(9){
	background: #ffa500;
}
.color_navigation ul li:nth-child(10){
	background: #b95095;
}
.color_navigation ul li:nth-child(11){
	background: #800080;
}
.color_navigation ul li:nth-child(12){
	background: #ff0000;
}
.color_navigation ul li:nth-child(13){
	background: #ffffff;
}
.color_navigation ul li:nth-child(14){
	background: #ffff00;
}

.catalog_active {
    background: #ffb544;
	color: #fff !important;
}