.main__stone-interior {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1417px;
    height: 772px;
    margin-top: 155px;
    margin-bottom: 149px;
}


.main__stone-interior > h1 {
    font-family: "Montserrat Bold";
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #111111;
    margin-left: 8px;
}

.main__article-interior {
    display: flex;
    margin: 30px 0px 0px 0px;
}

.main__article-interior > img {
width:85%;
height: 100%;
}

.main__article-interior > div > p {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #111111;
    margin: 14px 0px 0px 21px;
}
