@media (max-width: 1600px) {

    .navigation > div {
        margin: 0px 0px 0px 86px;
    }
}


@media (max-width: 1310px) {

    .navigation > div {
        margin: 0px 0px 0px 93px;
    }

}

@media (max-width: 1265px) {

    .navigation > div {
        margin: 0px 0px 0px 71px;
    }
}

@media (max-width: 1231px) {

    .navigation > div {
        margin: 0px 0px 0px 53px;
    }
    
}

@media (max-width: 1230px) {

    .navigation > div {
        margin: 0px 0px 0px 121px;
    }
    
}

@media (max-width: 1200px) {

    .navigation > div {
        margin: 0px 0px 0px 106px;
    }
    
}

@media (max-width: 1200px) {

    .navigation > div {
        margin: 0px 0px 0px 106px;
    }
    
}

@media (max-width: 1150px) {

    .navigation > div {
        margin: 0px 0px 0px 81px;
    }

}

@media (max-width: 1110px) {

    .navigation > div {
        margin: 0px 0px 0px 60px;
    }

}

@media (max-width: 1100px) {

    .navigation > div {
        margin: 0px 0px 0px 129px;
    }

}

@media (max-width: 1050px) {

    .navigation > div {
        margin: 0px 0px 0px 104px;
    }

}

@media (max-width: 1000px) {

    .navigation > div {
        margin: 0px 0px 0px 79px;
    }

}

@media (max-width: 970px) {

    .navigation > div {
        margin: 0px 0px 0px 64px;
    }

}

@media (max-width: 960px) {

    .navigation > div {
        margin: 0px 0px 0px 112px;
    }

}

@media (max-width: 920px) {

    .navigation > div {
        margin: 0px 0px 0px 92px;
    }

}

@media (max-width: 860px) {

    .navigation > div {
        margin: 0px 0px 0px 62px;
    }

}

@media (max-width: 840px) {

    .navigation > div {
        margin: 0px 0px 0px 92px;
    }

}

@media (max-width: 800px) {

    .navigation > div {
        margin: 0px 0px 0px 72px;
    }

}

@media (max-width: 760px) {

    .navigation > div {
        margin: 0px 0px 0px 52px;
    }

}

@media (max-width: 710px) {

    .navigation > div {
        margin: 0px 0px 0px 27px;
    }

}

@media (max-width: 700px) {

    .navigation > div {
        margin: 0px 0px 0px 47px;
    }

}

@media (max-width: 650px) {

    .navigation > div {
        margin: 0px 0px 0px 32px;
    }

}

@media (max-width: 640px) {

    .navigation > div {
        margin: 0px 0px 0px 72px;
    }

}

@media (max-width: 600px) {

    .navigation > div {
        margin: 0px 0px 0px 52px;
    }

}

@media (max-width: 560px) {

    .navigation > div {
        margin: 0px 0px 0px 37px;
    }

}

@media (max-width: 540px) {

    .navigation > div {
        margin: 0px 0px 0px 47px;
    }

}

@media (max-width: 510px) {

    .navigation > div {
        margin: 0px 0px 0px 32px;
    }

}

@media (max-width: 500px) {

    .navigation > div {
        margin: 0px 0px 0px 47px;
    }

}

@media (max-width: 460px) {

    .navigation > div {
        margin: 0px 0px 0px 27px;
    }

}

@media (max-width: 450px) {

    .navigation > div {
        margin: 0px 0px 0px 55px;
    }

}

@media (max-width: 420px) {

    .navigation > div {
        margin: 0px 0px 0px 40px;
    }

}

@media (max-width: 370px) {

    .navigation > div {
        margin: 0px 0px 0px 32px;
    }

}

@media (max-width: 340px) {

    .navigation > div {
        margin: 0px 0px 0px 22px;
    }

}

@media (max-width: 320px) {

    .navigation > div {
        margin: 0px 0px 0px 12px;
    }

}









