.main__wrapper {
    min-height: 2387px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.main__upper-block {
    display: flex;
}

.main__upper-block > div:nth-of-type(1) {
    width: 47%;
    display: flex;
    flex-direction: column;
    padding: 35px 0px 0px 0px;
}

.main__upper-block > div:nth-of-type(1) > h1 {
    font-family: "Montserrat Bold";
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #3D3D3D;   
}

.main__upper-block > div:nth-of-type(1) > p {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #3D3D3D;
    padding: 15px 0px 0px 0px;
}

.main__upper-block > div:nth-of-type(1) > img {
    border-radius: 5px;
    padding: 75px 0px 0px 0px;
}


.main__upper-block > div:nth-of-type(2) {
    width: 49%;
    display: flex;
    flex-direction: column;
    margin: 35px 0px 0px 54px;
}

.main__upper-block > div:nth-of-type(2) > h1 {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
    padding: 85px 0px 0px 0px;
}

.main__upper-block > div:nth-of-type(2) > p {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #3D3D3D;
    padding: 25px 0px 0px 0px;
}

.main__upper-block > div:nth-of-type(2) > img {
    border-radius: 5px; 
}





.main__center-block {
    display: flex;
    margin: 75px 0px 0px 0px;
}

.main__center-block > div > h1 {
    font-family: "Montserrat Bold";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;   
}

.main__center-block > div > p {
    width: 1024px;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #3D3D3D;    
    padding: 25px 0px 0px 0px;
}

.main__center-block > img {
    border-radius: 5px; 
    padding: 0px 0px 0px 53px;
}






.main__lower-block {
    display: flex;
    margin: 70px 0px 0px 0px;
}

.main__lower-block > div {
margin: 0px 0px 0px 53px;  
}

.main__lower-block > div > h1 {
    font-family: "Montserrat Bold";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;    
}

.main__lower-block > div > p {
    width: 1024px;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #3D3D3D;
    padding: 26px 0px 0px 0px;
}

.main__lower-block > img {
    border-radius: 5px; 
}
