.main__wrapper {
    min-height: 635px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}

.main__wrapper > div:nth-of-type(1) {
    display: flex;
}

.main__wrapper > div:nth-of-type(1) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 58px 50px 0px 50px;
}

.main__wrapper > div:nth-of-type(1) > div > h1 {
    font-family: "Montserrat Bold";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(61, 61, 61, 0.75);
}

.main__wrapper > div:nth-of-type(1) > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 0px 0px 0px;
}

.main__wrapper > div:nth-of-type(1) > div > div > h1 {
    font-family: "Montserrat Bold";
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}

.main__wrapper >  div:nth-of-type(1) > div > div > p:nth-of-type(1) {
    width: 284px;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}

.main__wrapper >  div:nth-of-type(1) > div > div > p:nth-of-type(2) {
    width: 252px;
    font-family: "Rubik";
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.5);
    margin: 15px 0px 0px 0px;
}

.main__wrapper >  div:nth-of-type(1) > div > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.main__wrapper >  div:nth-of-type(1) > div > div > form > input:nth-of-type(1) {
    width: 280px;
    height: 50px;
    background: rgba(0, 0, 0, 0.11);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.5);
    text-align: center;
    border: none;
}

.main__wrapper >  div:nth-of-type(1) > div > div > form > input:nth-of-type(1):focus {
    color: rgba(61, 61, 61);
}

.main__wrapper >  div:nth-of-type(1) > div > div > form > input:nth-of-type(2) {
    width: 280px;
    height: 50px;
    background: #FF9900;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
    margin: 15px 0px 0px 0px;
}

.main__wrapper > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 58px 50px 0px 50px;
}

.main__wrapper > div:nth-of-type(2) {
    flex-direction: column;
    align-items: center;
    margin: 58px 50px 0px 50px;
    display: none;
}

.main__wrapper > div:nth-of-type(2) > h1 {
    font-family: "Montserrat Bold";
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(61, 61, 61, 0.75);
}

.main__wrapper > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 0px 0px 0px;
}

.main__wrapper > div:nth-of-type(2) > div > h1 {
    font-family: "Montserrat Bold";
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}

.main__wrapper >  div:nth-of-type(2) > div > p:nth-of-type(1) {
    width: 284px;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}

.main__wrapper >  div:nth-of-type(2) > div > p:nth-of-type(2) {
    width: 252px;
    font-family: "Rubik";
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.5);
    margin: 15px 0px 0px 0px;
}

.main__wrapper >  div:nth-of-type(2) > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.main__wrapper >  div:nth-of-type(2) > div > form > input:nth-of-type(1) {
    width: 280px;
    height: 50px;
    background: rgba(0, 0, 0, 0.28);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    opacity: 0.25;
    border: none;
}

.main__wrapper >  div:nth-of-type(2) > div > form > input:nth-of-type(2) {
    width: 280px;
    height: 50px;
    background: #FF9900;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
    margin: 15px 0px 0px 0px;
}

.main__wrapper > div:nth-of-type(2) > div > div > a:nth-of-type(1) > img {
    width: 33px;
}

.main__wrapper > div:nth-of-type(2) > div > div > a:nth-of-type(2) > img {
    width: 28px;
    margin: 3px 0px 0px 0px;
}



.main__wrapper >  div:nth-of-type(1) > h1 {
    font-family: "Montserrat";
    font-size: 600px;
    line-height: 540px;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.75);
}

.main__wrapper >  div:nth-of-type(1) > h1:nth-of-type(2) {
    display: none;
}


.main__wrapper >  div:nth-of-type(1) > div > div > div {
    display: grid;
    grid-template-columns: 30px 30px;
    grid-column-gap: 38px;
    margin: 15px 0px 0px 0px;
}

.main__wrapper > div:nth-of-type(1) > div > div > div > a:nth-of-type(1) > img {
    width: 33px;
}

.main__wrapper > div:nth-of-type(1) > div > div > div > a:nth-of-type(2) > img {
    width: 28px;
    margin: 3px 0px 0px 0px;
}

