.main__map {
    display: flex;
    flex-direction: column;
    min-height: 530px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    margin-top: 30px;
}

.main__map > div:nth-of-type(1) {
    display: flex;
}

.main__map > div:nth-of-type(1) > div > iframe {
    border-radius: 5px;
    margin: 25px 0px 0px 0px;
    width: 100%;
}

.main__map-1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
    margin: 0px 10px 0px 0px;
}

.main__map-1 > h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}

.main__map-2 > h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}



.main__feedback {
    display: grid;
    grid-template-columns: 175px 165px 95px 255px;
    grid-column-gap: 235px;
    margin: 60px 0px 0px 0px;
}

.main__feedback > div {
    display: grid;
    grid-template-columns: 33px 40px;
    grid-column-gap: 33px;
}

.main__feedback > a {
    margin: 5px 0px 0px 0px;
}

.main__phone-number {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.07em;
    display: block;
    text-decoration: none;
    color: #3D3D3D;
}

.main__mail {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1em;
    display: block;
    text-decoration: none;
    color: #3D3D3D;
}

.main__feedback > div > a:nth-of-type(1) > img{
    width: 33px;
}

.main__feedback > div > a:nth-of-type(2) > img {
    width: 28px;
    margin: 3px 0px 0px 0px;
}

.main__feedback > a:nth-of-type(3) {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1em;
    display: block;
    text-decoration: none;
    color: #3D3D3D;
}
