.main__wrapper {
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    margin-top: 35px;
}

.main__wrapper > h1:nth-of-type(1) {
    font-family: "Montserrat Bold";
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #3D3D3D; 
}

.main__wrapper > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: 50% 50%;
}


.main__interior {
    margin: 59px 0px 0px 0px;
}

.main__interior > div {
    display: grid;
    grid-template-columns: 334px 334px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 25px 0px 0px 13px;
}

.main__interior > h1:nth-of-type(1) {
    font-family: "Montserrat Bold";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}

.main__interior > div > div > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__interior > div > div > img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter:brightness(100%);
    transition: filter 0.3s ease;
}

.main__interior > div > div > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
}

.main__interior > div > div > div > p {
    width: 150px;
    position: absolute;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.main__interior > div > div:hover > img {
    filter:brightness(50%);
    transition: filter 0.3s ease;
}

.main__interior > div > div:hover > div > p {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.main__interior > div > div {
    overflow: hidden;
    width: 334px;
    height: 195px;
    position: relative;
}






.main__exterior {
    margin: 59px 0px 0px 3px;
}

.main__exterior > div {
    display: grid;
    grid-template-columns: 334px 334px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 25px 0px 0px 13px;
}

.main__exterior > h1:nth-of-type(1) {
    font-family: "Montserrat Bold";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
    margin: 0px 0px 0px 12px;
}

.main__exterior > div > div > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main__exterior > div > div > img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter:brightness(100%);
    transition: filter 0.3s ease;
}

.main__exterior > div > div > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
}

.main__exterior > div > div > div > p {
    width: 260px;
    position: absolute;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.main__exterior > div > div:hover > img {
    filter:brightness(50%);
    transition: filter 0.3s ease;
}

.main__exterior > div > div:hover > div > p {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.main__exterior > div > div {
    overflow: hidden;
    width: 334px;
    height: 195px;
    position: relative;
}