.main__wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    min-height: 1764px;
}

.main__floor-photo {
    width: 662px;
    display: grid;
    grid-template-rows: 290px 101px;
    grid-template-columns: 215px 216px 217px;
    grid-template-areas: "floor . . "
                         "floor-mini floor-mini1 floor-mini2";
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.main__floor-photo > a > img:nth-of-type(1) {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}    

.main__floor-photo > a > img:nth-of-type(2) {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.main__floor-photo > a:nth-of-type(2) {
    grid-area: floor-mini;
}

.main__floor-photo > a > img:nth-of-type(2) {
    grid-area: floor-mini;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.main__floor-photo > a:nth-of-type(3) {
    grid-area: floor-mini1;
}

.main__floor-photo > a > img:nth-of-type(3) {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.main__floor-photo > a:nth-of-type(4) {
    grid-area: floor-mini2;
}

.main__floor-photo > a > img:nth-of-type(4) {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.main__buy-stone > div {
    margin: 35px 0px 0px 0px;
    display: flex;
}

.main__parameter {
    width: 364px;
    margin: 5px 0px 0px 48px;
}

.main__parameter > h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #3D3D3D;
}

.main__parameter > div:nth-of-type(1) {
margin: 26px 0px 0px 0px;
}

.main__parameter > div:nth-of-type(1) > p:nth-of-type(1) > span {
    margin: 0px 0px 0px 43px;
    }

.main__parameter > div:nth-of-type(1) > p:nth-of-type(2) > span {
     margin: 0px 0px 0px 30px;
}

.main__parameter > div:nth-of-type(1) > p:nth-of-type(3) > span {
     margin: 0px 0px 0px 18px;
}

.main__parameter > div:nth-of-type(1) > p:nth-of-type(2) {
    margin: 11px 0px 0px 0px;
}

.main__parameter > div:nth-of-type(1) > p:nth-of-type(3) {
    margin: 9px 0px 0px 0px;
}

.main__parameter > div:nth-of-type(1) > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.75);
}

.main__parameter > div:nth-of-type(1) > p > span {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.75);
}



.main__parameter > div:nth-of-type(2) {
margin: 40px 0px 0px 0px;
}

.main__parameter > div:nth-of-type(2) > p:nth-of-type(1) > span{
    margin: 0px 0px 0px 12px;
}

.main__parameter > div:nth-of-type(2) > p:nth-of-type(2) > span{
    margin: 0px 0px 0px 40px;
}


.main__parameter > div:nth-of-type(2) > p {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.75);
}

.main__parameter > div:nth-of-type(2) > p:nth-of-type(1) > span {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    color: rgba(61, 61, 61, 0.5);
}

.main__parameter > div:nth-of-type(2) > p:nth-of-type(2) > span {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #FF9900;
}


.main__parameter > div:nth-of-type(3) {
margin-top: 25px;
}

.main__parameter > div:nth-of-type(3) > div > input:nth-of-type(1) {
    width: 96%;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-align: center;
    border: none;
    color: #000000;
    opacity: 0.25;
}

.main__parameter > div:nth-of-type(3) > input:hover {
    background: #FF9900;
    color: #ffffff;
}


.main__parameter > div:nth-of-type(3) > input {
    width: 350px;
    height: 50px;
    outline: none;
    border: none;
  border: 1px solid #ff9900;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 45px;
  color: #ff9900;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s linear,color 0.2s linear;
  -o-transition: background 0.2s linear,color 0.2s linear;
  transition: background 0.2s linear,color 0.2s linear;
  margin: 15px 0px 0px 0px;
}
