.main__our-partners {
  width: 100%;
  height: 500px;
  background: #212121;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main__our-partners__wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1436px;
  padding: 65px 0;
  width: 100%;
}

.main__our-partners__wrapper > h3 {
  font-family: "Montserrat Bold";
  font-size: 36px;
  line-height: 44px;
  color: #fff;
}

.main__our-partners__slider {
  width: 100%;
  height: 191px;
  position: relative;
  margin-top: 90px;
}

.main__our-partners__slide {
  width: 300px;
}

.main__our-partners__slide > img {
  width: 150px;
  height: auto;
  filter: grayscale(1);
  cursor: pointer;
    transition: filter 0.2s linear 0s;
}

.main__our-partners__slide > img:hover {
  width: 150px;
  height: auto;
  filter: grayscale(0);
  transition: filter 0.2s linear 0s;
}

.main__our-partners__slider > .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main__our-partners__slider > .slick-dots > li > button {
    width: 10px;
    height: 10px;
    padding: 0;
    border: 0;
    background: #909090;
    border-radius: 10px;
    font-size: 0;
}

.main__our-partners__slider li.slick-active > button {
  background: #FFF;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

