@media (max-width: 1600px) {

.main__instagram_block {
    width: 100%;
    min-height: 1030px;
}

.main__instagram {
  max-width: 1210px;
  margin-top: 60px;
  height: 1030px;
}

.main__instagram-photos {
    grid-template-columns: 398px 398px 398px;
    grid-template-rows: 398px 398px 398px;
    height: 840px;
}

.main__instagram-photos > div > img {
    width: 398px;
}

.main__instagram-photos > div {
  width: 398px;
  height: 398px;
}

.main__instagram-photos > div > div > p {
  font-size: 12px;
  padding: 40px 37px 0px 20px;
}

}

@media (max-width: 1050px) {
  .main__instagram > p {
    margin: 55px 0px 0px 12vw;
  }
}

@media (max-width: 933px) {
  .main__instagram_block {
    height: 1615px;
  }
}

@media (max-width: 905px) {
  .main__instagram > p {
    margin: 55px 0px 0px 8vw;
  }
}

@media (max-width: 830px) {
  .main__instagram > p {
    font-size: 28px;
  }
}


@media (max-width: 768px) {

  .main__instagram_block {
    height: 1250px;
    min-height: 1250px;
}

  .main__instagram > p {
    margin: 55px 0px 0px 12vw;
  }  

  .main__instagram-photo > div {
    overflow: hidden;
    width: 350px;
    height: 350px;
}

  .main__instagram-photo_1 > div:nth-of-type(1) {
    height: 100%;
    background: url(../../../images/Rectangle-1.png) 0 0 / 100% auto no-repeat;
  }

  .main__instagram-photo_2 > div:nth-of-type(1) {
    height: 100%;
    background: url(../../../images/Rectangle-2.png) 0 0 / 100% auto no-repeat;
  }

  .main__instagram-photo_3 > div:nth-of-type(1) {
    height: 100%;
    background: url(../../../images/Rectangle-3.png) 0 0 / 100% auto no-repeat;
  }

  .main__instagram-photo_4 > div:nth-of-type(1) {
    height: 100%;
    background: url(../../../images/Rectangle-4.png) 0 0 / 100% auto no-repeat;
  }

  .main__instagram-photo_5 > div:nth-of-type(1) {
    height: 100%;
    background: url(../../../images/Rectangle-5.png) 0 0 / 100% auto no-repeat;
  }

  .main__instagram-photo_6 > div:nth-of-type(1) {
    height: 100%;
    background: url(../../../images/Rectangle-6.png) 0 0 / 100% auto no-repeat;
  }

.main__instagram-photo > div > div:nth-of-type(2) {
  font-size: 13px;
  line-height: 17px;
  padding: 40px 34px 59px 34px;
}

}

@media (max-width: 640px) {
    .main__instagram > p {
      font-size: 23px;
    }
  }


  @media (max-width: 550px) {
    .main__instagram > p {
        font-size: 20px;
    }

    .main__instagram > p {
        margin: 38px 0px 0px 2vw;
    }
  }

  @media (max-width: 320px) {

    .main__instagram-photo {
      margin: 20px 0px 0px 0px;
  }

    .main__instagram-photo > div:nth-child(2n+1) {
      margin-right: 0px !important;
  }
  
  .main__instagram_block {
    height: 1915px;
}
  
    .main__instagram > p {
      margin: 55px 0px 0px 12vw;
    }  
  
    .main__instagram-photo > div {
      overflow: hidden;
      width: 280px;
      height: 280px;
    }
  
    .main__instagram-photo_1 > div:nth-of-type(1) {
      height: 100%;
      background: url(../../../images/Rectangle-1.png) 0 0 / 100% auto no-repeat;
    }
  
    .main__instagram-photo_2 > div:nth-of-type(1) {
      height: 100%;
      background: url(../../../images/Rectangle-2.png) 0 0 / 100% auto no-repeat;
    }
  
    .main__instagram-photo_3 > div:nth-of-type(1) {
      height: 100%;
      background: url(../../../images/Rectangle-3.png) 0 0 / 100% auto no-repeat;
    }
  
    .main__instagram-photo_4 > div:nth-of-type(1) {
      height: 100%;
      background: url(../../../images/Rectangle-4.png) 0 0 / 100% auto no-repeat;
    }
  
    .main__instagram-photo_5 > div:nth-of-type(1) {
      height: 100%;
      background: url(../../../images/Rectangle-5.png) 0 0 / 100% auto no-repeat;
    }
  
    .main__instagram-photo_6 > div:nth-of-type(1) {
      height: 100%;
      background: url(../../../images/Rectangle-6.png) 0 0 / 100% auto no-repeat;
    }
  
    .main__instagram-photo > div > div:nth-of-type(2) {
      font-size: 10px;
      line-height: 14px;
      padding: 25px 34px 59px 34px;
  }

  .main__instagram-photo > div:nth-child(n+4):nth-child(-n+5) {
    margin: 0px 0px 5px 0px;
}

  }
