.main__catalog_block {
    display: flex;
    width: 100%;
    height: 651px;
    margin-left: auto;
    margin-right: auto;
    padding: 153px 10px 0px 0px;
    max-width: 1403px;
}

.main__type-of-stone {
    display: grid;
    grid-template-rows: 160px 170px 150px;
    grid-template-columns: 170px 160px 160px 170px;
    grid-template-areas: "Rectangle_1 . Rectangle_11 Rectangle_8" ". . Rectangle_9 Rectangle_10" "Rectangle_4 Rectangle_5 Rectangle_6 Rectangle_7";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.main__type-of-stone>img:nth-of-type(1) {
    grid-area: Rectangle_1;
}

.main__type-of-stone>img:nth-of-type(2) {
    grid-area: Rectangle_4;
    margin: 0px 0px 0px 10px;
}

.main__type-of-stone>img:nth-of-type(3) {
    grid-area: Rectangle_5;
}

.main__type-of-stone>img:nth-of-type(4) {
    grid-area: Rectangle_6;
}

.main__type-of-stone>img:nth-of-type(5) {
    grid-area: Rectangle_7;
}

.main__type-of-stone>img:nth-of-type(6) {
    grid-area: Rectangle_8;
    margin: 10px 0px 0px 0px;
}

.main__type-of-stone>img:nth-of-type(7) {
    grid-area: Rectangle_9;
    margin: 10px 0px 0px 0px;
}

.main__type-of-stone>img:nth-of-type(8) {
    grid-area: Rectangle_10;
    margin: 10px 0px 0px 0px;
}

.main__type-of-stone>img:nth-of-type(9) {
    grid-area: Rectangle_11;
    margin: 10px 0px 0px 0px;
}

.main__catalog-stone_big-title {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
    margin: 10px 0px 0px 25px;
}

.main__catalog-stone_little-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.07em;
    color: #3D3D3D;
    margin: 25px 0px 0px 25px;
}

.main__catalog-stone>form>input {
    width: 340px;
    height: 60px;
    background: #FF9900;
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    outline: none;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    margin: 52px 0px 0px 25px;
    border: none;
    cursor: pointer;
}

.main__catalog-stone > form > input:hover {
    background: #db8709;
}
