.main__instagram_block {
  width: 100%;
  min-height: 1160px;
}

.main__instagram {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  margin-top: 151px;
}

.main__instagram > p:nth-of-type(1) {
  font-family: "Montserrat Bold";
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: #3D3D3D;
  margin: 0px 0px 0px 7px;
}

.main__instagram-photos {
  display: grid;
  grid-template-columns: 465px 465px 465px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 50px 0px 0px 0px;
}

.main__instagram-photos > div {
  width: 465px;
  height: 465px;
  position: relative;
}

.main__instagram-photos > div > img {
  position: absolute;
}

.main__instagram-photos > div > div > p {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  padding: 70px 37px 0px 37px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.main__instagram-photos > div > div > p > a {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.main__instagram-photos > div:hover > img {
  filter:brightness(50%);
  transition: filter 0.3s ease;
}

.main__instagram-photos > div:hover > div > p {
  transition: opacity 0.3s ease;
  opacity: 1;
}