.main__benefit {
    display: flex;
    margin: 65px 81px 0px 0px;
}

.main__benefit > p {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
    margin: 1px 0px 0px 25px;
}


.main__question-form_block {
    display:flex;
    flex-direction: column;
    padding: 36px 0px 0px 39px;
}

.main__benefit-question {
    display: flex;
    padding: 30px 0px 0px 0px;
}

.main__benefit-question > p {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #3D3D3D;
    margin: 0px 0px 0px 20px;
}



.main__question-form  {
margin: 29px 0px 0px 0px;
}

.main__question-form > h1 {
    font-family: "Montserrat Bold";
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #3D3D3D;
}

.main__question-form > div > p:nth-of-type(1) {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #3D3D3D;
}

.main__question-form > div > div {
display: flex;
flex-direction: column;
margin: 10px 0px 0px 0px;
}

.main__question-form > div > div > input:nth-of-type(1) {
    width: 283px;
    height: 50px;
    background: rgba(0, 0, 0, 0.28);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-align: center;
    border: none;
    color: #000000;
    opacity: 0.25;
}

.main__question-form > div > div > input:nth-of-type(2) {
    width: 283px;
    height: 50px;
    background: #FF9900;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border: none;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 5px 0px 0px 0px;
}

.main__question-form > div > p:nth-of-type(2) {
    font-family: "Rubik";
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(61, 61, 61, 0.5);
    margin: 10px 0px 0px 0px;
}
