@media (max-width: 1600px) {

  .footer > div:nth-of-type(1) {
    max-width: 1210px;
}

.footer__our_material {
  max-width: 440px;
}

.footer__material > li > a {
  font-size: 14px;
}

.footer__navigation-item > li > a {
  font-size: 14px;
}

.footer__skills > li > a {
  font-size: 14px;
}

.footer__feedback-block {
  max-width: 1210px;
}

.footer__copyright {
  max-width: 1210px;
}

.footer__copyright > p:nth-of-type(1) {
  font-size: 13px;
}

.footer__copyright > a {
  font-size: 13px;
}

.footer__copyright > a:nth-of-type(1) {
  margin: 0px 0px 0px 22vw;
}

.footer__copyright > a:nth-of-type(2) {
  margin: 0px 0px 0px 5.6vw;
}

}

@media (max-width: 1530px) {

  .footer__copyright > a:nth-of-type(1) {
    margin: 0px 0px 0px 22.8vw;
  }
  
  .footer__copyright > a:nth-of-type(2) {
    margin: 0px 0px 0px 5.6vw;
  }

}

@media (max-width: 1460px) {

  .footer__copyright > a:nth-of-type(1) {
    margin: 0px 0px 0px 23.9vw;
  }
  
  .footer__copyright > a:nth-of-type(2) {
    margin: 0px 0px 0px 6.3vw;
  }
  
}

@media (max-width: 1440px) {

  .footer__copyright > a:nth-of-type(1) {
    margin: 0px 0px 0px 24.3vw;
}
  
.footer__copyright > a:nth-of-type(2) {
  margin: 0px 0px 0px 6.3vw;
}

}

@media (max-width: 1420px) {

  .footer__copyright > a:nth-of-type(1) {
    margin: 0px 0px 0px 25.6vw;
}
  
.footer__copyright > a:nth-of-type(2) {
  margin: 0px 0px 0px 6.5vw;
}

}

@media (max-width: 1350px) {

  .footer__copyright > a:nth-of-type(1) {
    margin: 0px 0px 0px 26vw;
}
  
.footer__copyright > a:nth-of-type(2) {
  margin: 0px 0px 0px 6.8vw;
}

}

@media (max-width: 1320px) {

  .footer__copyright > a:nth-of-type(1) {
    margin: 0px 0px 0px 26.6vw;
}
  
.footer__copyright > a:nth-of-type(2) {
  margin: 0px 0px 0px 6.8vw;
}

}

@media (max-width: 1280px) {

  .footer__navigation {
    margin: 49px 0px 0px 5.2vw;
}

.footer__our_material {
  margin: 0px 0px 0px 5.2vw;
}

.footer__feedback {
  margin: 0.2vw 0px 0px 5.2vw;
}

.footer__copyright > p:nth-of-type(1) {
  margin: 0px 0px 0px 5.2vw;
}

.footer__copyright > a:nth-of-type(1) {
  margin: 0px 0px 0px 30.3vw;
}

.footer__copyright > a:nth-of-type(2) {
  margin: 0px 0px 0px 6vw;
}

}

@media (max-width: 1024px) {

  .footer {
    height: 570px;
}

.footer__our-skills_2-column_block {
  display: none;
}

.footer__copyright {
  flex-direction: column;
  justify-content: center;
}

.footer__copyright > p:nth-of-type(1) {
  margin: 0px 37%;
}

.footer__copyright > a:nth-of-type(1) {
  margin: 0px 39%;
}

.footer__copyright > a:nth-of-type(2) {
  margin: 0px 39%;
}

.footer__feedback {
  margin: 0.2vw 0px 0px 41.3%;
}

}

@media (max-width: 768px) {

  .footer {
    height: 225px;
}

.footer > div:nth-of-type(1) {
  display: none;
}

.footer__feedback {
  margin: 0.2vw 0px 0px 38.3%;
  padding: 30px 0px 0px 0px;
}

.footer__copyright > p:nth-of-type(1) {
  margin: 0px 32%;
}

.footer__copyright > a:nth-of-type(1) {
  margin: 0px 35%;
}

.footer__copyright > a:nth-of-type(2) {
  margin: 0px 35%;
}

.footer__feedback {
  margin: 0.2vw 0px 0px 37.3%;
}

}



@media (max-width: 589px) {

    .footer {
        height: 300px;
    }

  .footer__our_material {
    display: none;
  }

  .footer__navigation {
    margin: 10px 0px 0px 2vw;
}

.footer__navigation-part_5 {
    display: none;
}

.footer__block {
    height: 100px;
}

.footer__copyright-block {
    display: flex;
    justify-content: center;
}

.footer > div:nth-of-type(1) {
    justify-content: center;
}

.footer__navigation {
    margin: 10px 0px 0px 0vw;
}

.footer__copyright {
    flex-direction: column;
}

.footer__copyright > a:nth-of-type(2) {
    margin: 0px 0px 0px 7.3vw;
}

.footer__copyright > a:nth-of-type(1) {
    margin: 0px 0px 0px 7.4vw;
}

.footer__feedback-block {
    justify-content: center;
}

.footer__feedback {
    margin: 0.2vw 0px 0px 0vw;
}

}


@media (max-width: 510px) {

.footer__navigation-part_3 {
    display: none;
}


}

@media (max-width: 420px) {

.footer__navigation-part_4 {
        display: none;
}
    
    
}


@media (max-width: 320px) {

.footer {
      height: 220px;
      margin: 75px 0px 0px 0px;
}

.footer__copyright > p:nth-of-type(1) {
        margin: 0px 0%;
}
      
}
  