@media (max-width: 1600px) {

.main__our-products_block {
    min-height: 700px;
}

.main__our-products {
    max-width: 1210px;
    padding: 50px 0px 0px 0px;
}

.main__our-material {
  grid-template-columns: 390px 390px 390px;
}

.main__material {
  width: 390px;
  height: 215px;
}

.main__material-description {
  padding: 10px 0px 0px 10px;
}

.main__material > img {
  height: 220px;
}

.main__material-description > p:nth-of-type(1) {
  font-size: 20px;
}

.main__material-description > p:nth-of-type(2) {
  font-size: 13px;
}

.main__material-description > p:nth-of-type(3) {
  font-size: 14px;
  padding: 10px 0px 0px 0px;
}

.main__material-description > a > input {
  width: 194px;
  height: 40px;
  font-size: 14px;
  margin: 30px 0px 0px 0px;
}
  
}

@media (max-width: 1366px) {


  
}


@media (max-width: 1024px) {

  .main__our-products_block {
    height: 985px;
}

  .main__our-products > p {
    padding: 50px 0px 0px 120px;
}

  .main__material_1 > div > a > input:nth-of-type(1) {
    width: 83%;
    margin: 15px 0px 0px 19px;
  }

  .main__material_2 > div > a > input:nth-of-type(1) {
    width: 83%;
    margin: 15px 0px 0px 30px;
  }

  .main__material_3 > div > a > input:nth-of-type(1) {
    width: 83%;
    margin: 15px 0px 0px 30px;
  }

  .main__material_4 > div > a > input:nth-of-type(1) {
    width: 83%;
    margin: 15px 0px 0px 19px;
  }

  .main__material_5 > div > a > input:nth-of-type(1) {
    width: 83%;
    margin: 15px 0px 0px 19px;
  }

  .main__material_6 > div > a > input:nth-of-type(1) {
    width: 83%;
    margin: 15px 0px 0px 19px;
  }



  .main__material_1 {
    width: 450px;
}

.main__material_2 {
  width: 450px;
}

.main__material_3 {
  width: 450px;
}

.main__material_4 {
  width: 450px;
}

.main__material_5 {
  width: 450px;
}

.main__material_6 {
  width: 450px;
}

.main__our-material {
  width: 1244px;
  margin: 51px 0px 0px -110px;
}
}


@media (max-width: 768px) {

  .main__our-products_block {
    height: 780px;
}

  .main__our-products > p:nth-of-type(1) {
    font-size: 30px;
      padding: 15px 0px 110px 60px;
}

  .main__our-material {
    flex-wrap:nowrap;
    flex-direction: column;
}

.main__material_1 {
  width: 450px;
}

.main__material_4 {
  width: 450px;
}

.main__material_5 {
  width: 450px;
}

.main__our-material {
  margin: 51px 0px 0px 137px;
}

  .main__our-products > p {
    padding: 15px 0px 110px 8px;
}





.main__material_1 {
  width: 350px;
  height: 205px;
}

.main__material_1 > img:nth-of-type(1) {
  width: 120px;
  height: 205px;
}

.main__material_1 > div > p:nth-of-type(1) {
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}

.main__material_1 > div > p:nth-of-type(2) {
  font-size: 16px;
  margin: 14px 0px 0px 0px;
}

.main__material_1 > div > p:nth-of-type(3) {
  margin: 13px 0px 0px 0px;
}

.main__material_1 > div > a > input:nth-of-type(1) {
  height: 40px;
  margin: 15px 0px 0px 0px;
}




.main__material_2 {
  width: 350px;
  height: 205px;
}

.main__material_2 > img:nth-of-type(1) {
  width: 120px;
  height: 188px;
}

.main__material_2 > div > p:nth-of-type(1) {
  font-size: 24px;
  margin: 10px 0px 0px 10px;
}

.main__material_2 > div > p:nth-of-type(2) {
  font-size: 16px;
  margin: 14px 0px 0px 10px;
}

.main__material_2 > div > p:nth-of-type(3) {
  margin: 13px 0px 0px 10px;
}

.main__material_2 > div > a > input:nth-of-type(1) {
  height: 40px;
  margin: 15px 0px 0px 10px;
}






.main__material_3 {
  width: 350px;
  height: 205px;
}

.main__material_3 > img:nth-of-type(1) {
  width: 120px;
  height: 188px;
}

.main__material_3 > div > p:nth-of-type(1) {
  font-size: 24px;
  margin: 10px 0px 0px 10px;
}

.main__material_3 > div > p:nth-of-type(2) {
  font-size: 16px;
  margin: 14px 0px 0px 10px;
}

.main__material_3 > div > p:nth-of-type(3) {
  margin: 13px 0px 0px 10px;
}

.main__material_3 > div > a > input:nth-of-type(1) {
  height: 40px;
  margin: 15px 0px 0px 10px;
}





.main__material_4 {
  width: 350px;
  height: 205px;
}

.main__material_4 > img:nth-of-type(1) {
  width: 120px;
  height: 205px;
}

.main__material_4 > div > p:nth-of-type(1) {
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}

.main__material_4 > div > p:nth-of-type(2) {
  font-size: 16px;
  margin: 14px 0px 0px 0px;
}

.main__material_4 > div > p:nth-of-type(3) {
  margin: 13px 0px 0px 0px;
}

.main__material_4 > div > a > input:nth-of-type(1) {
  height: 40px;
  margin: 15px 0px 0px 0px;
}





.main__material_5 {
  width: 350px;
  height: 205px;
}

.main__material_5 > img:nth-of-type(1) {
  width: 120px;
  height: 205px;
}

.main__material_5 > div > p:nth-of-type(1) {
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}

.main__material_5 > div > p:nth-of-type(2) {
  font-size: 16px;
  margin: 14px 0px 0px 0px;
}

.main__material_5 > div > p:nth-of-type(3) {
  margin: 13px 0px 0px 0px;
}

.main__material_5 > div > a > input:nth-of-type(1) {
  height: 40px;
  margin: 15px 0px 0px 0px;
}





.main__material_6 {
  width: 350px;
  height: 205px;
}

.main__material_6 > img:nth-of-type(1) {
  width: 120px;
  height: 205px;
}

.main__material_6 > div > p:nth-of-type(1) {
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}

.main__material_6 > div > p:nth-of-type(2) {
  font-size: 16px;
  margin: 14px 0px 0px 0px;
}

.main__material_6 > div > p:nth-of-type(3) {
  margin: 13px 0px 0px 0px;
}

.main__material_6 > div > a > input:nth-of-type(1) {
  height: 40px;
  margin: 15px 0px 0px 0px;
}







.main__our-products > p:nth-of-type(1) {
  padding: 15px 0px 0px 60px;
}

.main__our-material {
  justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.main__our-material {
  width: 288px;
  margin: 20px 0px 0px 15px;
}

}

@media (max-width: 640px) {
  .main__our-products > p {
    font-size: 21px;
  }

  .main__our-material {
    margin: 15px 0px 0px 1px;
  }
}

@media (max-width: 475px) {
  .main__material_1 {
    width: 364px;
    height: 200px;
  }

  .main__our-material {
    justify-content: initial;
  }

  .main__material_1 {
    margin: 0px 0px 0px 11vw;
  }

  .main__material_1 > div > p:nth-of-type(1) {
    margin: 10px 0px 0px 10px;
  }

  .main__material_1 > div > p:nth-of-type(2) {
    margin: 0px 0px 0px 10px;
  }

  .main__material_1 > img:nth-of-type(1) {
    width: 100px;
    height: 185px;
  }

  .main__material_1 > div > p:nth-of-type(3) {
    margin: 10px 0px 0px 10px;
  }

  .main__material_1 {
    width: 364px;
    height: 185px;
  }

  .main__our-products_block {
    height: 785px;
  }

  .main__material_1 > div > input:nth-of-type(1) {
    margin: 15px 0px 0px 10px;
  }
}

@media (max-width: 450px) {
  .main__our-products_block {
    height: 675px;
  }

  .main__material_1 {
    width: 255px;
    height: 141px;
  }

  .main__material_1 {
    margin: 0px 0px 0px 23vw;
  }

  .main__material_1 > div > p:nth-of-type(1) {
    font-size: 17px;
    margin: 0px 0px 0px 0px;
  }

  .main__material_1 > img:nth-of-type(1) {
    width: 77px;
    height: 140px;
  }

  .main__material_1 > div > p:nth-of-type(2) {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ff9900;
    margin: 0px 0px 0px 0px;
  }

  .main__material_1 > div > p:nth-of-type(3) {
    font-size: 10px;
    margin: 4px 0px 0px 0px;
  }

  .main__material_1 > div > input:nth-of-type(1) {
    width: 150px;
    height: 25px;
    margin: 5px 0px 0px 0px;
  }

  .main__our-material {
    margin: 15px 0px 0px -9px;
  }
}

@media (max-width: 350px) {
  .main__material_1 {
    margin: 0px 0px 0px 15vw;
  }
}

@media (max-width: 475px) {
  .main__material_2 {
    width: 364px;
    height: 200px;
  }

  .main__our-material {
    justify-content: initial;
  }

  .main__material_2 {
    margin: 0px 0px 0px 11vw;
  }

  .main__material_2 > div > p:nth-of-type(1) {
    margin: 10px 0px 0px 25px;
  }

  .main__material_2 > div > p:nth-of-type(2) {
    margin: 0px 0px 0px 25px;
  }

  .main__material_2 > img:nth-of-type(1) {
    width: 85px;
    height: 170px;
  }
  .main__material_2 > div > p:nth-of-type(3) {
    margin: 10px 0px 0px 25px;
  }

  .main__material_2 {
    width: 364px;
    height: 185px;
  }

  .main__material_2 > div > input:nth-of-type(1) {
    margin: 5px 0px 0px 23px;
  }
}

@media (max-width: 450px) {

  .main__material_2 {
    width: 255px;
    height: 141px;
  }

  .main__material_2 {
    margin: 0px 0px 0px 23vw;
  }

  .main__material_2 > div > p:nth-of-type(1) {
    font-size: 17px;
    margin: 0px 0px 0px 10px;
  }

  .main__material_2 > img:nth-of-type(1) {
    width: 70px;
    height: 125px;
  }

  .main__material_2 > div > p:nth-of-type(2) {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ff9900;
    margin: 0px 0px 0px 10px;
  }

  .main__material_2 > div > p:nth-of-type(3) {
    font-size: 10px;
    margin: 4px 0px 0px 10px;
  }

  .main__material_2 > div > input:nth-of-type(1) {
    width: 150px;
    height: 25px;
    margin: 5px 0px 0px 10px;
  }

  .main__our-material {
    margin: 15px 0px 0px -9px;
  }
}


@media (max-width: 475px) {
  .main__material_3 {
    width: 364px;
    height: 200px;
  }

  .main__our-material {
    justify-content: initial;
  }

  .main__material_3 {
    margin: 0px 0px 0px 11vw;
  }

  .main__material_3 > div > p:nth-of-type(1) {
    margin: 10px 0px 0px 25px;
  }

  .main__material_3 > div > p:nth-of-type(2) {
    margin: 0px 0px 0px 25px;
  }

  .main__material_3 > img:nth-of-type(1) {
    width: 85px;
    height: 170px;
  }
  .main__material_3 > div > p:nth-of-type(3) {
    margin: 10px 0px 0px 25px;
  }

  .main__material_3 {
    width: 364px;
    height: 185px;
  }

  .main__material_3 > div > input:nth-of-type(1) {
    margin: 5px 0px 0px 23px;
  }
}

@media (max-width: 450px) {

  .main__material_3 {
    width: 255px;
    height: 141px;
  }

  .main__material_3 {
    margin: 0px 0px 0px 23vw;
  }

  .main__material_3 > div > p:nth-of-type(1) {
    font-size: 17px;
    margin: 0px 0px 0px 10px;
  }

  .main__material_3 > img:nth-of-type(1) {
    width: 70px;
    height: 125px;
  }

  .main__material_3 > div > p:nth-of-type(2) {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ff9900;
    margin: 0px 0px 0px 10px;
  }

  .main__material_3 > div > p:nth-of-type(3) {
    font-size: 10px;
    margin: 4px 0px 0px 10px;
  }

  .main__material_3 > div > input:nth-of-type(1) {
    width: 150px;
    height: 25px;
    margin: 5px 0px 0px 10px;
  }

  .main__our-material {
    margin: 15px 0px 0px -9px;
  }
}

@media (max-width: 320px) {

  .main__our-products_block {
    height: 1060px;
}

  .main__our-products {
    height: auto;
}

  .main__our-material_block {
    height: auto;
}

  .main__our-material {
    height: auto;
}

.main__our-material {
  margin: 15px 0px 0px 25px;
}


.main__our-products > p:nth-of-type(1) {
  font-size: 14px;
  padding: 15px 0px 0px 8px;
}

.main__material_1 > div > a > input:nth-of-type(1) {
  height: 30px;
  margin: 0px 0px 0px 0px;
}

.main__material_2 > div > a > input:nth-of-type(1) {
  height: 30px;
  margin: 0px 0px 0px 10px;
}

.main__material_3 {
  margin: 0px 23px 0px 0px;
}

.main__material_3 > div > a > input:nth-of-type(1) {
  height: 30px;
  margin: 0px 0px 0px 10px;
}


.main__material_4 > div > a > input:nth-of-type(1) {
  height: 30px;
  margin: 0px 0px 0px 0px;
}


.main__material_5 > div > a > input:nth-of-type(1) {
  height: 30px;
  margin: 0px 0px 0px 0px;
}

.main__material_6 > div > a > input:nth-of-type(1) {
  height: 30px;
  margin: 0px 0px 0px 0px;
}

.main__our-material {
  justify-content: flex-start;
  flex-direction: column;
}







.main__material_4 {
  width: 255px;
  height: 141px;
}

.main__material_4 > img:nth-of-type(1) {
  width: 77px;
  height: 140px;
}

.main__material_4 > div > p:nth-of-type(1) {
  font-size: 17px;
  margin: 0px 0px 0px 0px;
}

.main__material_4 > div > p:nth-of-type(2) {
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}

.main__material_4 > div > p:nth-of-type(3) {
  margin: 4px 0px 0px 0px;
  font-size: 10px;
}





.main__material_5 {
  width: 255px;
  height: 141px;
}

.main__our-material > div:nth-child(n+4):nth-child(-n+5) {
  margin: 0px 0px 20px 0px;
}

.main__material_5 > img:nth-of-type(1) {
  width: 77px;
  height: 140px;
}

.main__material_5 > div > p:nth-of-type(1) {
  font-size: 17px;
  margin: 0px 0px 0px 0px;
}

.main__material_5 > div > p:nth-of-type(2) {
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}

.main__material_5 > div > p:nth-of-type(3) {
  margin: 4px 0px 0px 0px;
  font-size: 10px;
}





.main__material_6 {
  width: 255px;
  height: 141px;
}

.main__material_6 > img:nth-of-type(1) {
  width: 77px;
  height: 140px;
}

.main__material_6 > div > p:nth-of-type(1) {
  font-size: 17px;
  margin: 0px 0px 0px 0px;
}

.main__material_6 > div > p:nth-of-type(2) {
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}

.main__material_6 > div > p:nth-of-type(3) {
  margin: 4px 0px 0px 0px;
  font-size: 10px;
}

}
