@media (max-width: 1500px) {
  .main__reviews__wrapper {
    margin: 0 50px;
  }

  .main__reviews__wrapper {
    padding: 150px 50px !important;
    box-sizing: border-box;
  }

  .main__reviews__slide > div {
    align-items: flex-start;
  }

  .main__reviews__slide > div > img {
    width: 282px;
    height: auto;
    flex: initial;
  }

  .main__reviews__slide > div > div {
    flex: initial;
    width: 70%;
  }
}

@media (max-width: 1020px) {
  .main__reviews__slider > .slick-dots {
    bottom: -150px;
  }
}

@media (max-width: 820px) {
  .main__reviews__wrapper {
    margin: 0 0;
  }

  .main__reviews__slide > div {
    flex-direction: column;
  }

  .main__reviews__slider {
    height: initial;
  }

  .main__reviews {
    height: initial;
  }

  .main__reviews__slider > .slick-dots {
    bottom: -90px;
  }

  .main__reviews__slide > div > img {
    margin-left: 32px;
  }

  .main__reviews__slide > div > div {
    width: 90%;
  }

  .main__reviews__wrapper > h2 {
    margin-left: 35px;
  }

  .main__reviews__wrapper {
    padding: 77px 60px 150px 60px !important;
  }
}

@media (max-width: 485px) {
  .main__reviews__wrapper {
    padding: 77px 20px 150px 20px !important;
  }

  .main__reviews__slide > div > div {
    padding: 43px 8px 0px 43px;
    box-sizing: border-box;
  }

  .main__reviews__slide > div > img {
    margin-left: 0px;
  }

  .main__reviews__slide > div > div {
    padding: 43px 8px 0px 8px;
  }

  .main__reviews__wrapper > h2 {
    margin-left: 0px;
  }
}

@media (max-width: 340px) {
  .main__reviews__slide > div > div {
    width: 100%;
  }
}
