@media (max-width: 1600px) {

    .header__upper-block {
        max-width: 1210px;
    }

    .header__feedback {
        margin: 0px 0px 2px 65px;
    }

    .header__navigation {
        margin: 0px 0px 0px 60px;
    }

}

@media (max-width: 1230px) {

    .header__navigation-part_4 {
        display: none;
    }

}

@media (max-width: 1100px) {

    .header__navigation-part_6 {
        display: none;
    }

}

@media (max-width: 960px) {

    .header__navigation-part_5 {
        display: none;
    }

}

@media (max-width: 840px) {

    .header__navigation {
        margin: 0px 0px 0px 55px;
    }

    .header__feedback {
        margin: 0px 0px 2px 56px;
    }

}

@media (max-width: 740px) {

    .header__navigation-part_1 {
        display: none;
    }

    .header__navigation-part_2 {
        display: none;
    }

    .header__feedback {
        margin: 1px 0px 2px 34vw;
    }

}

@media (max-width: 700px) {

    .header__feedback {
        margin: 1px 0px 2px 28vw;
    }

}

@media (max-width: 640px) {

    .header__feedback {
        margin: 1px 0px 2px 14vw;
    }

}

@media (max-width: 540px) {

    .header__phone-number {
        font-size: 14px;
    }

    .header__mail {
        font-size: 13px;
    }

}

@media (max-width: 500px) {

    .header__feedback {
        margin: 1px 0px 2px 6vw;
    }

}

@media (max-width: 450px) {

    .header__feedback {
        margin: 1px 0px 2px 5vw;
    }

    .header__navigation-block {
        display: none;
    }

}

@media (max-width: 370px) {

    .header__phone-number {
        font-size: 10px;
    }

    .header__mail {
        font-size: 10px;
    }

}

@media (max-width: 340px) {

    header {
        height: 80px;
    }

    .header__site-logo_chapter_1 > a {
        font-size: 23px;
    }

    .header__site-logo_chapter_2 > a {
        font-size: 13px;
    }

}